*,*::before,*::after {
    box-sizing: border-box;
}
body {
  margin: 0px;
  font-size: 120%;
  font-family: 'Roboto', sans-serif;
  background-color: #fcfcfc;
}
@media (min-width: 1080px) {
    .App {
      height: 100vh;
      display: flex;
      align-items: center;
    }
}
