:root {
    --bg-body: #FBFBFB;
    --color-white: #ffffff;
    --color-dark: #3a3a3a;
    --color-success: #1DD146;
    --color-danger: #E32020;
    --color-warning: #F8B814;
    --color-info: #21A2CB;
    --color-success-softer: #DCFFE4;
    --color-danger-softer: #FFECEC;
    --color-warning-softer: #FFF4D7;
    --color-info-softer: #DFF9FF;
    --color-dark-softer: #5a5a5a;
    --color-dark-medium: #353535;
    --color-dark-hard: #1f1f1f;
    --color-dark-soft: #474747;
    --text-color-red: #FF3030;
}
@media(min-width: 768px) {
    .App {

    }
}
